# Node modules
backend/node_modules/
frontend/node_modules/

# Logs
logs
*.log

# Environment variables
backend/.env
frontend/.env

# Build outputs
dist/
build/

# Other files to ignore
.DS_Store
coverage/

# .gitignore
frontend1/
